<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Arrivals</title>
    <style>
        body {
            background-color: blue;
            color: white;
            font-size: 32px;
        }
        table {
            width: 100%;
        }
        tr:nth-child(even) {
            background-color: dodgerblue;
        }
        h1 {
            padding-left: 100px;
        }
    </style>
</head>
<body>
<h1>Przyloty/Arrivals</h1>
<table>
    <tr>
        <th>Lot</th>
        <th>Przewoźnik</th>
        <th>Z kierunku</th>
        <th>Przylot</th>
        <th>Status</th>
        <th>Terminal</th>
        <th>Bramka</th>

    </tr>
{#    <tr>#}
{#        <td>LO 3803</td>#}
{#        <td>LOT - Polish Airlines</td>#}
{#        <td>(WAW) Warsaw</td>#}
{#        <td>00:05</td>#}
{#        <td>Wylądował</td>#}
{#        <td>A</td>#}
{#        <td>1</td>#}
{#    </tr>#}
    {% for flight in flights %}
        <tr>
            <td>{{ flight.flight }}</td>
            <td>{{ flight.carrier }}</td>
            <td>{{ flight.from_airport }}</td>
            <td style="width: 200px">{{ flight.arrival_datetime.ctime }}</td>
            <td>{% include 'base/component/status.html' %}</td>
            <td>{{ flight.terminal }}</td>
            <td>{{ flight.gate }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>